#extension {
    min-width: 200px;
    min-height: 300px;
}

#main {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

#main>input {
    margin-bottom: 10px;
}

#main>button {
    margin-bottom: 10px;
}

.hide {
    display: none;
}