#extension{
    width: 400px;
    height: 300px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}
input{
    margin-bottom: 8px;
}