#extension {
    width: 300px;
    height: 300px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

#extension>input {
    margin-bottom: 10px;
}

#extension>button {
    margin-bottom: 10px;
}

.hide{
    display: none;
}